<h1><%= @photo.name %></h1>

<form action="/galleries/<%= @photo.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button>delete</button>
</form>

<% if logged_in? %>
<a href="/galleries/<%= @photo.id %>/edit">edit</a>
<img src= "galleries/<%= @photo.image_url%>" >
<% end %>

<% @comments.each do |comment| %>
  <p> <%= comment.body %> </p>
  <hr>
  <% end %>

  <form action="/comments" method="post">
    <input type="hidden" name="photo_id" value="<%= @photo.id %>">
    <textarea name="body"></textarea>
    <button>Post Comments</button>
  </form>
